
{% extends "navigationbar.html" %}

{% load static %}

{% block body%}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>


<div class="container" style="margin-top: 50px;"> 
<h2 class="text-center margin-top-30px">Contact Us</h2>
<br>

<div class="row">
    <div>
        <h4><span class="material-symbols-outlined">contacts</span> Contact Through ...</h4>
        <p><span class="material-symbols-outlined"> call </span>
        <a class="text-danger"  href="tel:+91 9999999999">: +91 9999999999</a></p>
        <div class="icons">
        <a class="text-danger" href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
        <a class="text-danger" href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="text-danger" href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
       <a class="text-danger"  href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a class="text-danger" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a class="text-danger"  href="tel:+91 9999999999"><i class="fa-brands fa-whatsapp"></i></a>
        <a  class="text-danger" href="mailto:profakshayai@gmail.com"><i class="fa fa-envelope" ></i></a>
        <div class="copyright"> &#169;
        <span class="footercopyright">2024</span>
          Inc. All rights reserved
          <p>Made with <i class="fa fa-heart"></i> by Akshay</p>
    </div>

    </div>

</div>


</div>

{% endblock %}